In [1]:
import pandas as pd
import seaborn as sns  
import numpy as np
import matplotlib.pyplot as plt 
import random
import copy
from scipy import stats
import plotly.express as px
import plotly.express as px
import plotly.graph_objects as go
import altair as alt
from io import StringIO
from scipy.signal import savgol_filter
from array import *

In [3]:
data = pd.read_excel(r'C:\\Users\\u23e02\\Desktop\\Utility\\PF.xlsx') 
data.columns =['Time', 'PF', 'EM_id'] 
data['Time'] = pd.to_datetime(data['Time'])
data = data.sort_values('Time')

In [4]:
df = data[(data['Time'] >= '2020-05-02 00:00:00.000000000') & (data['Time'] < '2020-05-03 00:00:00.000000000') ]
df.head()

                           Time   PF  EM_id
0 2020-05-02 04:45:24.826769920  1.0    1.0
1 2020-05-02 04:45:24.904900096  0.8    4.0
2 2020-05-02 04:45:25.248640000  0.8    5.0
3 2020-05-02 04:45:25.264270080  0.0   11.0
4 2020-05-02 04:45:25.436140032  1.0    7.0

In [7]:
class power_factor():
    
    
    def categorization(self,df):
        bins = [0, 0.75, 0.9, np.inf]
        names = ['Critical', 'Warning', 'Good']
        d = dict(enumerate(names, 1))
        df['Status'] = np.vectorize(d.get)(np.digitize(df['PF'], bins))
        return df
    
        
    def minimum(self,df):
        df=self.categorization(df)
        x=df.groupby(['EM_id'])['PF'].agg({'Minimum':'min','Maximum':'max','Average':'mean'})
        x.reset_index(inplace=True)
        return x

In [8]:
cat = power_factor()
t=cat.minimum(df)
t

C:\Users\u23e02\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\u23e02\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:14: FutureWarning:

using a dict on a Series for aggregation
is deprecated and will be removed in a future version

   EM_id  Minimum  Maximum   Average
0    1.0      0.1      1.0  0.963420
1    4.0      0.3      1.0  0.811780
2    5.0      0.6      1.0  0.850829
3    7.0      0.0      1.0  0.999964
4   11.0      0.0      0.0  0.000000

In [12]:
x = df.groupby(['EM_id'])['PF'].agg({'Minimum':'min','Maximum':'max','Average':'mean'})
x.reset_index(inplace=True)
x

C:\Users\u23e02\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:

using a dict on a Series for aggregation
is deprecated and will be removed in a future version

   EM_id  Minimum  Maximum   Average
0    1.0      0.1      1.0  0.963420
1    4.0      0.3      1.0  0.811780
2    5.0      0.6      1.0  0.850829
3    7.0      0.0      1.0  0.999964
4   11.0      0.0      0.0  0.000000